<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>loclt.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>loclt.filter.ContextListenerServlet</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>loclt.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <servlet-class>loclt.servlet.CreateNewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>loclt.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherManagementServlet</servlet-name>
        <servlet-class>loclt.servlet.TeacherManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherSearchServlet</servlet-name>
        <servlet-class>loclt.servlet.TeacherSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherCreateQuestionServlet</servlet-name>
        <servlet-class>loclt.servlet.TeacherCreateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherUpdateServlet</servlet-name>
        <servlet-class>loclt.servlet.TeacherUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherDeleteServlet</servlet-name>
        <servlet-class>loclt.servlet.TeacherDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreQuestionServlet</servlet-name>
        <servlet-class>loclt.servlet.StoreQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentChooseSubjectServlet</servlet-name>
        <servlet-class>loclt.servlet.StudentChooseSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentTakeQuizServlet</servlet-name>
        <servlet-class>loclt.servlet.StudentTakeQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentCompleteQuizServlet</servlet-name>
        <servlet-class>loclt.servlet.StudentCompleteQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentViewHistoryServlet</servlet-name>
        <servlet-class>loclt.servlet.StudentViewHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentViewDetailsHistoryServlet</servlet-name>
        <servlet-class>loclt.servlet.StudentViewDetailsHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSearchServlet</servlet-name>
        <servlet-class>loclt.servlet.StudentSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <url-pattern>/CreateNewAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherManagementServlet</servlet-name>
        <url-pattern>/TeacherManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherSearchServlet</servlet-name>
        <url-pattern>/TeacherSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherCreateQuestionServlet</servlet-name>
        <url-pattern>/TeacherCreateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherUpdateServlet</servlet-name>
        <url-pattern>/TeacherUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherDeleteServlet</servlet-name>
        <url-pattern>/TeacherDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreQuestionServlet</servlet-name>
        <url-pattern>/StoreQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentChooseSubjectServlet</servlet-name>
        <url-pattern>/StudentChooseSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentTakeQuizServlet</servlet-name>
        <url-pattern>/StudentTakeQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentCompleteQuizServlet</servlet-name>
        <url-pattern>/StudentCompleteQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentViewHistoryServlet</servlet-name>
        <url-pattern>/StudentViewHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentViewDetailsHistoryServlet</servlet-name>
        <url-pattern>/StudentViewDetailsHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSearchServlet</servlet-name>
        <url-pattern>/StudentSearchServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>QuizOnline</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
